<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="baseHeader(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}">Dit is de algemene titel</title>
    <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/css/library.css">
</head>
<body>
<div th:fragment="navbar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/authors}">Auteurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/books}">Boeken</a>
        </li>
    </ul>
</div>

<div th:fragment="footer">
    <footer>Copyright Vincent Velthuizen &copy; 2021</footer>
</div>
<div th:fragment="bottomScripts">
    <script th:src="@{webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
</div>
</body>
</html>