<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overzicht van de auteurs</title>
</head>
<body>
<h1>Auteurs</h1>

<h2>Overzicht</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Naam</th>
    </tr>
    <tr th:each="author : ${allAuthors}">
        <td th:text="${author.authorId}"></td>
        <td><a th:href="@{/authors/detail/{authorId}(authorId=${author.authorId})}" th:text="${author.displayName}"></a> </td>
    </tr>
</table>

<h2>Formulier voor nieuwe auteur</h2>
<form th:action="@{authors/new}" method="post" th:object="${newAuthor}">
    <table>
        <tr>
            <td>Voornaam</td>
            <td><input type="text" th:field="*{firstName}"></td>
        </tr>
        <tr>
            <td>tussenvoegsel</td>
            <td><input type="text" th:field="*{infixName}"></td>
        </tr>
        <tr>
            <td>Achternaam</td>
            <td><input type="text" th:field="*{lastName}"></td>
        </tr>
    </table>
    <input type="submit" value="Sla auteur op">
</form>

<p>
    <a th:href="@{/books}">Boeken overzicht</a>
</p>
</body>
</html>