<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Boeken formulier</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <h1>Boeken formulier</h1>
    <form th:action="@{/books/new}" method="post" th:object="${book}">
        <table>
            <tr>
                <td>Title</td>
                <td><input type="text" th:field="*{title}"></td>
            </tr>
            <tr>
                <td>Author</td>
                <td>
                    <select th:field="*{author}">
                        <option th:each="author : ${allAuthors}" th:value="${author.authorId}" th:text="${author.displayName}"></option>
                    </select>
                </td>
            </tr>
        </table>
        <input type="submit" value="Sla boek op">
    </form>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>