<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Boeken formulier</title>
</head>
<body>
<h1>Boeken formulier</h1>
<form th:action="@{/books/new}" method="post" th:object="${book}">
    <table>
        <tr>
            <td>Title</td>
            <td><input type="text" th:field="*{title}"></td>
        </tr>
        <tr>
            <td>Author</td>
            <td>
                <select th:field="*{author}">
                    <option th:each="author : ${allAuthors}" th:value="${author.authorId}" th:text="${author.displayName}"></option>
                </select>
            </td>
        </tr>
    </table>
    <input type="submit" value="Sla boek op">
</form>
<p>
    <a th:href="@{/books}">Boeken overzicht</a>
</p>
</body>
</html>